accounts = {
    {
        IMAP {
            server = "imap.example.com",
            username = "user1@example.com",
            password = "PASSWORD",
            ssl = "tls1",
        },
        config = {
            archive_dir = 'Archive',
        }
    },
    {
        IMAP {
            server = "imap.example.com",
            username = "user2@example.com",
            password = "PASSWORD",
            ssl = "tls1",
        },
        config = {
            archive_dir = 'somewhere',
        }
    },
    {
        IMAP {
            server = "imap.example.com",
            username = "user3@example.com",
            password = "PASSWORD",
            ssl = "tls1",
        },
        config = {
            archive_dir = '',
        }
    },
}
